language: c
sudo: required
dist: xenial

before_install:
- openssl aes-256-cbc -K $encrypted_9efe89651950_key -iv $encrypted_9efe89651950_iv -in .vault_pass.txt.enc -out .vault_pass.txt -d
- sudo apt-get update -qq
- sudo apt-get install -qq python-apt python
- sudo -H pip install --upgrade urllib3[secure] pyopenssl
- sudo -H pip install -U ansible-vault

install:
- sudo -H pip install --upgrade ansible
- "{ echo '[defaults]'; echo 'roles_path = ../'; } >> ansible.cfg"

script:
- ANSIBLE_VAULT_PASSWORD_FILE=.vault_pass.txt ansible-playbook -i tests/inventory
  tests/test.yml --syntax-check
- ANSIBLE_VAULT_PASSWORD_FILE=.vault_pass.txt ansible-playbook -i tests/inventory
  tests/test.yml --connection=local --become
- "[ -e /etc/ddclient/ddclient.conf ] && (echo 'ddclient.conf was created correctly.'
  && exit 0) || (echo 'ddclient.conf was not created.' && exit 1)"
- "[ -e /usr/sbin/ddclient ] && (echo 'ddclient binary is installed.' && exit 0) ||
  (echo 'ddclient binary is not installed' && exit 1)"
after_script:
- shred .vault_pass.txt
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: kK0MF6AhyPLEXkhFFjneCKbtmddeZnD3XbRHWUYqkIhKuwBaNq0q52mrHYug4X3xDYW4n84gFqUjcUoazA5X80WRp4KseVejKNShQ7zZDwiapneWRVxUbgvr0Xet5rLmgDP5qDnoiGOz2BDIJAn04HCgULwG5cZfeBJVJIR84leRixyl8MmomgvBEHV6hvwrbSdEGLP4ilaD5OgFJOE7bgyzcd9gyQ5AQclChTGqMRCibNpRwe0jbMRvGpFVCzewMSS4LapSfwCV8rRj+6P59pO44chmyiM9lADZg0O0JVhyp6RnyCgF/Ocg35XQ2tadInjy8Nlft73hpwo/b5zGn7UXxT0d7sXEYGGJbn5gZ8BUuzougLKZ9n3kGvXUEBF0J1mBYYhpLS3ue+hVQgdHhMV/Rl+GpBZWmuX2IzlIV611q+8OtsXPzO0uCYhM8BgXTSu8iiA4Jn2AoC5zNRcN5QPlZFcr73sKG8KjcG74YI+6Nb9HqflmrOawL2SLjWCNl2PFgkeyT/twBRYtpaT/ruTKuS9Q6drDIeKtEtJbnPIN/DAnTZq7m5kMWVBUaTtUpFMNM5/DTlgyTne2iB00hXibbfQ7i0epzfUYffYkvfhzC5LRk+/bq9iyIG4wpksFkwsGmHFTk2Pkiveb2ganWRY83zbLqtJ9CLlwGoUtYUw=
