---

- name: Install apt Dependencies
  apt:
    name: "{{ ddclient_apt_install }}"
    state: latest
    update_cache: yes
    cache_valid_time: 86400
  become: true

- name: Copy over DDClient Executable
  synchronize:
    src: "{{ ddclient_git_repo_dest }}/ddclient"
    dest: "{{ ddclient_exec }}"
    checksum: yes
    times: no
  delegate_to: "{{ inventory_hostname }}"
  when: _ddclient_git_cloned.changed
  become: true

- name: Create /etc and /var/cache Directories
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0775
  with_items:
    - "{{ ddclient_file.directory }}"
    - "{{ ddclient_cache }}"
    - "{{ ddclient_pid.directory }}"
  become: true

- name: Create Systemd File
  template:
    src: "ddclient.service.j2"
    dest: "/etc/systemd/system/ddclient.service"
    owner: root
    group: root
  become: true
  notify: Autostart DDClient
