[Unit]
Description=ddclient Service
After=network.target

[Service]
Type=forking
PIDFile={{ ddclient_pid.directory}}/{{ ddclient_pid.file }}
ExecStart={{ ddclient_exec }} -pid {{ ddclient_pid.directory}}/{{ ddclient_pid.file }} -file {{ ddclient_file.directory }}/{{ ddclient_file.file }}
ExecStop=/usr/bin/pkill -SIGKILL -F {{ ddclient_pid.directory}}/{{ ddclient_pid.file }}

[Install]
WantedBy=multi-user.target
